<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-stripe" version="1.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-stripe-tests</name>
    <js-module src="tests.js" name="tests"></js-module>
</plugin>